@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the ToDoList Application</h1>
    <p>Review your <a asp-area="" asp-controller="Home" asp-action="ToDoList">To Do List</a>.</p>
</div>
